*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

#rosto{
    height: 250px;
    width: 210px;
    border-radius: 50%;
    margin: 30px;

}

#rosto:hover{
    border-radius: 20%;

}

#oculos{
    height: 550px;
    width: 380px;
    margin: 50px;
    border-radius: 15%;

}

header{
    background-color: rgb(236, 235, 210);
    display: flex;
    align-items: center;
    justify-content: center;


}

nav{
    background-color: black;
    border-radius: 5%;

}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

}

li{
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

li:hover{
    background-color: rgb(49, 48, 48);
    border-bottom: 3px solid darkorange;
    border-left: 3px solid darkorange;
    border-right: 3px solid darkorange;
    border-top: 3px solid darkorange;
    border-radius: 10%;

}

li a{
    text-decoration: none;
    color: darkorange;

}

main{
    background-color: rgb(221, 221, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.sessao{
    height: 100%;
    width: 100%;

}

.linha{
    height: 33,33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.coluna{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

section#Home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 730px;
    width: 100%;

}

section#Curiosidades{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 238, 222);
    height: 100%;
    width: 100%;

}


#estudio_img{
    height: 250px;
    width: 310px;
    border-radius: 10%;
    margin: 30px;

}

#casamento_img{
    height: 250px;
    width: 310px;
    border-radius: 10%;
    margin: 30px;

}

section#Curiosidades_2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 238, 222);
    height: 100%;
    width: 100%;

}

#axe_img{
    height: 250px;
    width: 200px;
    border-radius: 10%;
    margin: 30px;

}

#shopping_img{
    height: 250px;
    width: 310px;
    border-radius: 10%;
    margin: 30px;

}

section#Curiosidades_3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 238, 222);
    height: 100%;
    width: 100%;

}

#rock_cozinha{
    height: 250px;
    width: 310px;
    border-radius: 10%;
    margin: 30px;

}

#rock{
    height: 250px;
    width: 310px;
    border-radius: 10%;
    margin: 30px;

}

#rock_orquestra{
    height: 250px;
    width: 310px;
    border-radius: 10%;
    margin: 30px;

}

section#Contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    height: 100%;
    width: 100%;

}

#contatos_tel, #contatos_insta, #contatos_email{
    font-style: italic;

}

#tantanzinho{
    height: 250px;
    width: 200px;
    border-radius: 10%;
    margin: 30px;

}

footer{
    background-color: rgb(49, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 30px;
    width: 100%;
    position: fixed;
    font-size: 20px;
    color: darkorange;
    font-style: italic;

}

@media screen and (max-width: 800px) {
    header{
        flex-direction: column;
        padding: 20px;

    }
}

@media screen and (max-width: 690px) {
    section#Home{
        flex-direction: column;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;

    }
}

@media screen and (max-width: 1155px) {
    .coluna{
        flex-direction: column;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;

    }
}

@media screen and (max-width: 1172px) {
    .linha{
        flex-direction: column;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;

    }
}

@media screen and (max-width: 510px) {
    section#Contatos{
        flex-direction: column;
        padding: 40px;
        padding-left: 40px;
        padding-right: 40px;

    }
}
